<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.mpos"
        version="0.7.0">

  <name>Mpos</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/mpos.js" target="js/mpos.js"/>

  <js-module src="www/mpos.js" name="mpos">
    <clobbers target="mpos" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Mpos">
        <param name="android-package" value="com.mpos.plugin.Mpos"/>
      </feature>
    </config-file>
      
     <source-file src="src/android/Mpos.java" target-dir="src/com/mpos/plugin"/>
  </platform>
  
</plugin>